.footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  text-align: center;
  p,
  a {
    color: darken($white, 10%);
    font-family: $sans-serif;
    font-size: 0.9rem;
  }
  a:hover {
    color: $white;
  }
}
