/* default */

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 0%;
  padding: 0 0.25%;
}
[class*="col-"] {
  flex: auto;
  padding: 0;
  margin-bottom: 0.5em;
  width: 100%;
}

/********************************************************************************/

/* medium */
@media screen and (min-width: $medium) {
  .col-1,
  .col-2,
  .col-3 {
    width: calc(3 * 98.5% / 6);
  }
  .col-4,
  .col-5,
  .col-6 {
    width: 100%;
  }
  .col-1-offset {
    margin-right: calc(95% / 6);
  }
  main [class*="col-"] {
    margin-left: 0.75%;
  }
}

/* large */
@media screen and (min-width: $large) {
  .col-1 {
    width: calc(95% / 6);
  }
  .col-2 {
    width: calc(2 * 98% / 6);
  }
  .col-3 {
    width: calc(3 * 99% / 6);
  }
  .col-4 {
    width: calc(4 * 99.5% / 6);
  }
  .col-5 {
    width: calc(5 * 99.75% / 6);
  }
  .col-6 {
    width: 100%;
  }
  .col-1-offset {
    margin-right: calc(95% / 6);
  }
  main [class*="col-"]:first-child {
    margin-left: 0;
  }
  main [class*="col-"]:not(:first-child) {
    margin-left: 1%;
  }
}
