// breakpoints
$small: 450px;
$medium: 600px;
$large: 900px;
$x-large: 1200px;

// fonts
$serif: "Crimson Text", serif;
$sans-serif: "Open Sans", sans-serif;
$mono: "Source Code Pro", monospace;

// colors
$primary-color: #8c2840;
$secondary-color: #32826f;
$white: #fff;
$black: #000;
$red: #f00;
